<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome presidente</title>
    <link rel="stylesheet" th:href="@{/body.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/nav.css}">
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
</head>
<body>
    <header>
        <h1>siwSport</h1>
    </header>
    <nav>
        <ul class="nav-left">
            <li><a href="/squadra">Torna indietro</a></li>
        </ul>
        <ul class="nav-right">
            <li th:if="${userDetails == null}"><a href="/login">Login</a></li>
            <li th:if="${userDetails != null}"><p th:text="'Benvenuto ' + ${userDetails.username} + '.'">Benvenuto</p></li>
            <li th:if="${userDetails != null}"><a href="/logout">Logout</a></li>
        </ul>
    </nav>    
    <main>
        <div class="contenitore">
            <h2>Nome presidente</h2>
            <form th:action="@{'/amministratore/squadra/'+${squadra.id}+'/presidente/newNome'}" method="post">
                <div>
                    <label>Nome: <input required type="text" th:placeholder="${squadra.presidente.nome}" name="nome"></label>
                </div>
                <div>
                    <button type="submit">Conferma</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <h3>By Lore'</h3>
    </footer> 
</body>
</html>